
.btn-1{
    background-color: var(--crispy-orange-main-300);
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.8rem;
}
.btn-1:hover{
    background-color: white;
    border: 1px solid var(--crispy-orange-main-300);
    color: var(--crispy-orange-main-300);
}
.btn-1:hover{
    background-color: white;
    border: 1px solid var(--crispy-orange-main-300);
    color: var(--crispy-orange-main-300);
}

.heart{
    display: inline-block;
    height: 1.2rem;
    aspect-ratio: 1/1;
}
.heart img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-product{
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url(../img/productpage-1.jpg) no-repeat 50% 50% / cover;
    color: white;
}
.banner-product h1{
    margin-bottom: var(--space-x-small);
}

@media (max-width:1440px){
    .banner-product{
    height: 450px;
}
}

@media (max-width:768px){
    .banner-product{
    height: 100vh;
}
}