
.btn-1{
    background-color: var(--crispy-orange-main-300);
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.8rem;
}
.btn-1:hover{
    background-color: white;
    border: 1px solid var(--crispy-orange-main-300);
    color: var(--crispy-orange-main-300);
}
.btn-1:hover{
    background-color: white;
    border: 1px solid var(--crispy-orange-main-300);
    color: var(--crispy-orange-main-300);
}