@media (max-width:768px){
    .detail-1{
         margin: 10rem 1rem var(--space-3x-large);
    flex-direction: column;
}
    .detail-1>section{
        width: auto;
}
    .detail-desc .desc{
    height: 100px;
    overflow: auto;
    margin-bottom: var(--space-3x-large);
}
    .sticky-menu {
    top: 77px;
}
    .info-list{
    flex-direction: column;
}
    .review-track li{
    width: 197px;
}
}