footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.863);
}
.ft{
    display: flex;
    justify-content: space-between;
    padding: var(--space-x-large) 0;
    border-bottom: 1px solid #eeeeee9d;
}
.footer-menu{
    display: flex;
    gap: var(--space-normal);
}
.fb{
    padding-top: var(--space-x-large);
    padding-bottom: var(--space-3x-large);
    display: flex;
    justify-content: space-between;
}
.fb dl>*{
    display: inline;
}
.copy{
    padding-bottom: var(--space-2x-large);
    text-align: center;
}

@media (max-width:768px){
    .footer-menu{
        flex-direction: column;
    }
    .fb{
        flex-direction: column;
        align-items: center;
        gap: var(--space-x-large);
    }
}